<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>循环</title>
    <script src="plugins/angularjs/angular.min.js"></script>
    <script>
        var app=angular.module("myApp",[]);

        app.controller("myController",function ($scope) {
            $scope.list=[123,234,'abc','bcs'];
            $scope.list=[
                {name:'张三',age:18},
                {name:'李四',age:19},
                {name:'王五',age:20}
            ];

        });
    </script>
</head>
<body ng-app="myApp" ng-controller="myController">
<table>
    <tr ng-repeat="i in list">
        <td>{{i}}</td>
    </tr>
    <hr>
    <tr >
        <td>姓名</td>
        <td>年龄</td>
    </tr>
    <tr ng-repeat="obj in list">
        <td>{{obj.name}}</td>
        <td>{{obj.age}}</td>
    </tr>
</table>
</body>
</html>